{
    "extends": "eslint-config-ali",
    "env": {
        "node": true,
        "es6": true
    },
    "rules": {
        "semi": [2, "never"],
        "indent": [2, 4],
        "comma-dangle": "off"
    }
}